<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gkzh.lottery.mapper.GkzhZyxxzStudentChoiceMapper">
    
    <resultMap type="GkzhZyxxzStudentChoice" id="GkzhZyxxzStudentChoiceResult">
        <result property="choiceId"    column="choice_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentNo"    column="student_no"    />
        <result property="activityId"    column="activity_id"    />
        <result property="commonChannel"    column="common_channel"    />
        <result property="trustedChannel"    column="trusted_channel"    />
        <result property="obstacles"    column="obstacles"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectGkzhZyxxzStudentChoiceVo">
        select choice_id, student_id, student_name, student_no, activity_id, common_channel, trusted_channel, obstacles, remark, create_time from gkzh_zyxxz_student_choice
    </sql>

    <select id="selectGkzhZyxxzStudentChoiceList" parameterType="GkzhZyxxzStudentChoice" resultMap="GkzhZyxxzStudentChoiceResult">
        <include refid="selectGkzhZyxxzStudentChoiceVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentNo != null  and studentNo != ''"> and student_no = #{studentNo}</if>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="commonChannel != null  and commonChannel != ''"> and common_channel = #{commonChannel}</if>
            <if test="trustedChannel != null  and trustedChannel != ''"> and trusted_channel = #{trustedChannel}</if>
            <if test="obstacles != null  and obstacles != ''"> and obstacles = #{obstacles}</if>
        </where>
    </select>
    
    <select id="selectGkzhZyxxzStudentChoiceByChoiceId" parameterType="Long" resultMap="GkzhZyxxzStudentChoiceResult">
        <include refid="selectGkzhZyxxzStudentChoiceVo"/>
        where choice_id = #{choiceId}
    </select>

    <insert id="insertGkzhZyxxzStudentChoice" parameterType="GkzhZyxxzStudentChoice" useGeneratedKeys="true" keyProperty="choiceId">
        insert into gkzh_zyxxz_student_choice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="studentNo != null">student_no,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="commonChannel != null">common_channel,</if>
            <if test="trustedChannel != null">trusted_channel,</if>
            <if test="obstacles != null">obstacles,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="studentNo != null">#{studentNo},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="commonChannel != null">#{commonChannel},</if>
            <if test="trustedChannel != null">#{trustedChannel},</if>
            <if test="obstacles != null">#{obstacles},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateGkzhZyxxzStudentChoice" parameterType="GkzhZyxxzStudentChoice">
        update gkzh_zyxxz_student_choice
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentNo != null">student_no = #{studentNo},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="commonChannel != null">common_channel = #{commonChannel},</if>
            <if test="trustedChannel != null">trusted_channel = #{trustedChannel},</if>
            <if test="obstacles != null">obstacles = #{obstacles},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where choice_id = #{choiceId}
    </update>

    <delete id="deleteGkzhZyxxzStudentChoiceByChoiceId" parameterType="Long">
        delete from gkzh_zyxxz_student_choice where choice_id = #{choiceId}
    </delete>

    <delete id="deleteGkzhZyxxzStudentChoiceByChoiceIds" parameterType="String">
        delete from gkzh_zyxxz_student_choice where choice_id in 
        <foreach item="choiceId" collection="array" open="(" separator="," close=")">
            #{choiceId}
        </foreach>
    </delete>
</mapper>